<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="css/admin_capacity.css">
</head>
<body>

    <div class="admin-panel">
        <h2>Admin Panel</h2>
        <div class="section">
            <h3>Capacity Management</h3>
            <table>
                <thead>
                    <tr>
                        <!-- <th>Train Number</th> -->
                        <th>Capacity Id</th>
                        <th>Booked 1A</th>
                        <th>Booked 2A</th>
                        <th>Booked 3A</th>
                        <th>Booked AC</th>
                        <th>Booked Sleeper</th>
                        <th>Total Capacity</th>
                        <th>Action</th>
                        <!-- <th>Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Add dynamically generated capacity data here -->
                    <%capacities.forEach((capacity)=>{%>
                        <tr>
                            <form action="/admincapacity" method="post">
                                <!-- <td>12345</td> -->
                                <td><%=capacity.capacity_id%></td>
                                <td><%=capacity.booked_1A%></td>
                                <td><%=capacity.booked_2A%></td>
                                <td><%=capacity.booked_3A%></td>
                                <td><%=capacity.booked_ac%></td>
                                <td><%=capacity.booked_sleeper%></td>
                                <td><%=capacity.capacity_total%></td>
                                <td><button>Edit</button></td>
                                
                                <input type="hidden" name="capacity_id" value="<%=capacity.capacity_id%>">
                                <input type="hidden" name="booked_1A" value="<%=capacity.booked_1A%>">
                                <input type="hidden" name="booked_2A" value="<%=capacity.booked_2A%>">
                                <input type="hidden" name="booked_3A" value="<%=capacity.booked_3A%>">
                                <input type="hidden" name="booked_ac" value="<%=capacity.booked_ac%>">
                                <input type="hidden" name="booked_sleeper" value="<%=capacity.booked_sleeper%>">
                                <input type="hidden" name="capacity_total" value="<%=capacity.capacity_total%>">
                            </form>
                            <!-- <form id="<%=`deleteform${capacity.capacity_id}`%>" action="/deletecapacity" method="post">
                                <input type="hidden" name="capacity_id" value="<%=capacity.capacity_id%>">
                            </form>
                            <td><button onclick=<%=`deleteEntry(${capacity.capacity_id})`%> class="red">delete</button></td> -->
                        </tr>
                    <%});%>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>

        <script src="js/admin.js"></script>

</body>
</html>
