<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="css/admin_station.css">
</head>
<body>

    <div class="admin-panel">
        <h2>Admin Panel</h2>
        <div class="section">
            <h3>Train Management</h3>
            <table>
                <thead>
                    <tr>
                        <th>Station_id</th>
                        <th>Sname</th>
                        <th>Action</th>
                        <th>Action</th>


                    </tr>
                </thead>
                <tbody>
                    <!-- Add dynamically generated capacity data here -->
                    <%stations.forEach((station)=>{%>
                        <tr>
                            <form action="/adminstations" method="post">
                                <!-- <td>12345</td> -->
                                <td><%=station.id%></td>
                                <td><%=station.sname%></td>

                                <input type="hidden" name="id" value="<%=station.id%>">
                                <input type="hidden" name="sname" value="<%=station.sname%>">
                                
                                <td><button>Edit</button></td>
                            </form>
                            <form action="/deletestation" method="post">
                                <input type="hidden" name="id" value="<%=station.id%>">
                                
                                <td><button class="red">delete</button></td>
                            </form>
                        </tr>
                    <%});%>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
        <!-- <div class="section">
            <h3>Train Management</h3>
            <table>
                <thead>
                    <tr>
                        <th>Train Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Chandigarh Express</td>
                        <td><button>Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section">
            <h3>Station Management</h3>
            <table>
                <thead>
                    <tr>
                        <th>Station Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Chandigarh</td>
                        <td><button>Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->

</body>
</html>
