<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>option page</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>

    <header>
        <h1 id="name">Track Tech</h1>
    </header>

    <div id="background-container">
        <div class="options-container">
            <h2>Choose an Option</h2>
            <div class="option">
                <form action="<%=`/${options[0][1]}`%>" method="get">
                    <button type="submit" class="option-link"><%=options[0][0]%></button>
                </form>
            </div>
            <div class="option">
                <form action="<%=`/${options[1][1]}`%>" method="get">
                    <button type="submit" class="option-link"><%=options[1][0]%></button>
                </form>
            </div>
            <div class="option">
                <form action="<%=`/${options[2][1]}`%>" method="get">
                    <button type="submit" class="option-link"><%=options[2][0]%></button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
