<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Details</title>
    <link rel="stylesheet" href="css/ticket_details.css">
</head>
<body>

    <div class="ticket-details-container">
        <h2>Ticket Details</h2>
        <div class="ticket-details">
            <p><strong>Train Name:</strong> <%=train.tname%></p>
            <p><strong>Departure Time:</strong> <%=train.arrival_time.toString().substring(16, 24)%></p>
            <p><strong>Arrival Time:</strong> <%=train.departure_time.toString().substring(16, 24)%></p>
            <p><strong>From:</strong> <%=ticket.from%></p>
            <p><strong>To:</strong> <%=ticket.to%></p>
            <p><strong>Price:</strong> <%=train.price%></p>
            
            
            <p><strong>Book Date:</strong> <%=ticket.date%></p>
            <p><strong>Book Time:</strong> <%=ticket.time%></p>
            <!-- Add more ticket details here -->
        </div>
        <button onclick="window.print()">Print Ticket</button>
    </div>

</body>
</html>
