<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Display</title>
    <link rel="stylesheet" href="css/train_display.css">
</head>
<body>

    <div class="train-container">
        <h2>All Trains</h2>
        <table>
            <thead>
                <tr>
                    <th>Train Name</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example train rows -->
                <%trains.forEach((train) => {%>
                    <form action="/payment" method="post">
                        <tr>
                            <td><%=train.dataValues.tname%></td>
                            <td><%=train.dataValues.arrival_time.toString().substring(16, 24)%></td>
                            <td><%=train.dataValues.departure_time.toString().substring(16, 24)%></td>
                            <td><%=places.from%></td>
                            <td><%=places.to%></td>
                            <td><%=train.dataValues.price%></td>

                            <input type="hidden" name="tid" value=<%=train.dataValues.train_id%>>
                            <input type="hidden" name="arrival_date" value=<%=JSON.stringify(train.dataValues.arrival_time)%>>
                            <input type="hidden" name="departure_date" value=<%=JSON.stringify(train.dataValues.departure_time)%>>
                            <input type="hidden" name="from" value=<%=places.from%>>
                            <input type="hidden" name="to" value=<%=places.to%>>
                            <input type="hidden" name="price" value=<%=train.dataValues.price%>>
                            
                            <td><button>Pay</button></td>
                            
                        </tr>
                    </form>
                <%})%>
                <!-- Add more train rows here -->
            </tbody>
        </table>
    </div>

</body>
</html>
