<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Display</title>
    <link rel="stylesheet" href="css/train_display.css">
</head>
<body>

    <div class="train-container">
        <h2>All Trains</h2>
        <table>
            <thead>
                <tr>
                    <th>Train Name</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Price</th>
                    <th>Seats Available</th>
                    <th>No. of seats</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example train rows -->
                <%for(let i = 0; i < trains.length; i++) {%>
                    <form action="/payment" method="post">
                        <tr>
                            <td><%=trains[i].dataValues.tname%></td>
                            <td><%=trains[i].dataValues.arrival_time.toString().substring(16, 24)%></td>
                            <td><%=trains[i].dataValues.departure_time.toString().substring(16, 24)%></td>
                            <td><%=places.from%></td>
                            <td><%=places.to%></td>
                            <td><%=trains[i].dataValues.price%></td>
                            <td><%=capacity[i].dataValues.available%></td>
                            <td class="counter">
                                <input type="number" name="seats" class="seats" name="seats" value="1" required>
                            </td>

                            <input type="hidden" name="tid" value=<%=trains[i].dataValues.train_id%>>
                            <input type="hidden" name="arrival_date" value=<%=JSON.stringify(trains[i].dataValues.arrival_time)%>>
                            <input type="hidden" name="departure_date" value=<%=JSON.stringify(trains[i].dataValues.departure_time)%>>
                            <input type="hidden" name="from" value=<%=places.from%>>
                            <input type="hidden" name="to" value=<%=places.to%>>
                            <input type="hidden" name="price" value=<%=trains[i].dataValues.price%>>
                            <input type="hidden" name="capacity" value=<%=capacity[i].dataValues.available%>>
                            
                            <td><button>Pay</button></td>
                            
                        </tr>
                    </form>
                <%}%>
                <!-- Add more train rows here -->
            </tbody>
        </table>
    </div>

    <script src="js/train_display.js"></script>

</body>
</html>
